{% extends 'base.html' %}

{% load static %}

{% block content %}
<h4>This is the ASSAS Data Hub. A platform to collect ASTEC simulation data</h4>
<object data="./static/media/logo.svg" width="100" height="80"> </object>
     <form method="post" action="/create/" class="form-group">
         {% csrf_token %}
         <div class="input-group mb-3">
             <div class="input-group-prepend">
                 <button type="submit" name="save" class="btn btn-success">Create New</button>
             </div>{{form.name}}
         </div>
    </form>

{% endblock %}